/* styles.css o styles.scss */

/* styles.css o styles.scss */
/* styles.css o styles.scss */

/* Estilo para el select */
.custom-select-card {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 13px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-select-card:hover {
    border-color: #aaa;
  }
  
  .custom-select-card:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 12px rgba(74, 144, 226, 0.7);
  }
  
  /* Estilo para el menú desplegable */
  .custom-select-card option {
    background-color: #fff;
    color: #505050;
    font-size: 16px;
  }
  
  .custom-select-card select::-ms-expand {
    display: none; 
    height: 8px;
  }
  
// En tu archivo SCSS
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #3498db;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}



  @media (min-width: 640px) {
    .ctn{
        display: flex;
        flex-direction: column;
      }
  }