.fondo{
    background: linear-gradient(to right, #295270, #524175);
}
.login{
    height: 100vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.logo {
    text-align: center;
    font-size: 3rem;
    font-family: 'Black Ops One', sans-serif;
    background: linear-gradient(to right, #295270, #663177);
    -webkit-background-clip: text;
    color: transparent;
}
