.title{
    background: #4f81e4;
    color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
button{
    font-size: 12px;
}
h3{
    font-size: 14px;
    font-family: 'Inter var', sans-serif;
}

* {
    font-size: 12px;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
  }
.btn{
    background-color: #2cc5a1;
    
    font-family: 'Inter var', sans-serif;
}

.checkbox{
    display: none;
}