<div
  class="flex flex-col bg-white shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">


  <div class="flex w-full flex-col md:flex-row gap-2 icon-title">
    <div class="flex gap-2 items-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sync_alt" class=""></mat-icon>
      <h2 class="mt-1 font-d">
        Movimiento de almacenes
      </h2>
    </div>
    <app-ver-stock></app-ver-stock>
    <app-register-movimiento></app-register-movimiento>
  </div>
  <!-- <app-add-movimiento-almacen></app-add-movimiento-almacen>
  -->
  <app-listar-movimiento-almacen></app-listar-movimiento-almacen>
  
</div>