:root {
    --tu-color-de-fondo: #764134;
    --tu-color-de-texto: #ad8350;
  }

// .ui-table-header th {
//     background-color: #057edb;
//     color: white;
//     text-align: center;
//   }


/* styles.css (o styles.scss) */
::ng-deep .custom-button {
  background-color: #00c288;
  border-color: #00c288;
  color: white; 
}


.titulo{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #333335;
}


.card-table{
  padding: 1.5rem;
}

@media (max-width: 640px) {
    .headereditar{
        display: flex;
        flex-direction: column;
      }
      .card-table{
        padding: 0;
      }
      
  }