
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
  }


.nav-item{
    i{
        cursor: pointer;
    }
}

/* app-navbar.component.css */
.image-icon {
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: 30px;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  padding: 6px;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  hr{
    border: 0.5px solid rgb(34, 124, 112, 0.2);
  }
}
.profile-dropdown-list.active{
    max-height: 500px;
  }

.profile-dropdown-list-item{
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s ease,padding-left 0.2s ease;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 500;
        color: #393e46;
    }
    i{
        margin-right: 1rem;
        font-size: 1.1rem;
        width: 2.3rem;
        height: 2.3rem;
        background-color: cornflowerblue;
        color: #fff;
        line-height: 2.3rem;
        text-align: center;
        border-radius: 50%;
    }
    &:hover
    {
        padding-left: 1.5rem;
        background-color: rgba(100, 148, 237, 0.733);
        a{
            color: #fff;
        }
    }
}


.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid rgb(78, 130, 226);
  border-radius: 50px;
  width: 150px;
  margin-right: 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s background-color 0.2s;

  span{
    margin: 0 0.5rem;
    margin-right: 17px;
   
  }
  i{
    margin-top: 2px;
    margin-right: 4rem;
}
}
.profile-dropdown-btn:hover {
  background-color: cornflowerblue;
  color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(100, 148, 237, 0.521);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("../../../assets/virtual\ \(1\).png");
  background-size: cover;
}

.profile-img i{
    position: relative;
    right: 0;
    bottom: 0.3rem;
    font-weight: 0.3rem;
    color: #82cd47;
}




.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;

}
.nav-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  i {
    font-size: 1.5rem;
  }
}

