span{
  font-size: 12.4px;
  color: rgb(62, 62, 63);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.subtitle{
  font-size: 13px;
  color: rgb(105, 105, 105);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
}

a{
  border-radius: 18px;
  &:hover{
      background: #d8dada;
      span{
          color: rgb(97, 97, 97);
      }
  }
  fa-icon{
    margin-left: 5px;
  }
}


li{
  margin-left: 10px;
}
/* En tu archivo de estilos CSS */
::-webkit-scrollbar {
  display: none;
}
