span{
  font-size: 12.4px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.subtitle{
  font-size: 13px;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
}
*, ::before, ::after {
  /* box-sizing: border-box; */
  border-width: 0;
  border-style: none; /* Esto quita el estilo del borde */
  border-color: #ffffff00;
}

a{
  border-radius: 18px;
  &:hover{
      background: #55A8FD;
      span{
          color: white;
      }
  }
  fa-icon{
    margin-left: 5px;
    color: white;
  }
}


li{
  margin-left: 10px;
}
/* En tu archivo de estilos CSS */
::-webkit-scrollbar {
  display: none;
}
