* {
    font-size: 0.8125rem;
    font-family: 'Inter var', sans-serif;
    font-weight: 700;
    h3{
        font-size: 0.9375rem;
        font-family: 'Inter var', sans-serif;
        font-weight: 600;
    }
    label{
      font-family: 'Inter var', sans-serif;
      font-weight: 600;
    }
  }