<h3 class="title ml-3">Unidad de Medida</h3>
<br />

<div class="cont">
    <div class="sub-card">
        <form (ngSubmit)="crearUnidad()" #unidadForm="ngForm">
            <div class="card1">
                <div class="card flex p-3 mt-1">
                    <p-button (click)="showDialog('top')" icon="pi pi-plus" label="Agregar"
                        styleClass="custom-button" ></p-button>
                    <p-dialog header="Registrar " [(visible)]="visible" [position]="'top'" [breakpoints]="{ '960px': '97vw' }"
                        [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    
                        <div class="inputgroup bg-gray ">
                            
                            <div class="card flex  flex-column ">
                                <p>Unidad de Medida</p>
                                <input pInputText type="text" placeholder="Ingrese el nombre"
                                    [(ngModel)]="nuevaUnidad.nombre" name="nombre" required #nombreInput />
                            </div>
                            <div class="card flex  flex-column ">
                                <p>Abreviación</p>
                                <input pInputText type="text" placeholder="Ingrese abrevacion nombre" id="abreviacion"
                                    [(ngModel)]="nuevaUnidad.abreviacion" name="abreviacion" />
                            </div>
                            <div class="card flex  flex-column ">
                                <p>Valor</p>
                                <input pInputText type="number" placeholder="Ingrese abrevacion nombre" id="abreviacion"
                                [(ngModel)]="nuevaUnidad.valor"
                                name="valor" required/>
                              
                            </div>
                            <!----------Checkbox------------>
                            <div class="contd">
                                <input type="checkbox" [(ngModel)]="nuevaUnidad.activo" name="activo" required
                                    hidden />
                            </div>
                            <div class="mt-3 flex justify-content-center">
                                <button type="submit" pButton pRipple label="Crear Categoría" class="p-button-success "
                                    [disabled]="unidadForm.invalid"></button>
                            </div>
    
                        </div>
                    </p-dialog>
    
                </div>
            </div>
        </form>
    
    </div>
    
    
    <div class="card-table mx-2">
        <p-table [value]="unidadesMedida" [tableStyle]="{ 'min-width': '10rem' } " [resizableColumns]="true"
            [paginator]="true" [rows]="5" [showCurrentPageReport]="true" scrollHeight="600px"
            currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"
            (onPage)="pageChange($event)" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-gridlines"
            [scrollable]="true">
            <ng-template pTemplate="header" class="header1">
                <tr class="ui-table-header ">
                    <th pSortableColumn="code" style="width:20%">Codigo <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="name" style="width:20%">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name" style="width:20%">Abreviación <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name" style="width:20%">Valor <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="category" style="width:20%">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                    <th pSortableColumn="quantity" style="width:20%">Opciones <p-sortIcon field="opciones"></p-sortIcon></th>
                 
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-unidad>
                <tr class="ui-table-contenido  ">
                    <td>{{ unidad.id_umd }}</td>
                    <td>{{ unidad.nombre }}</td>
                    <td>{{ unidad.abreviacion }}</td>
                    <td>{{ unidad.valor }}</td>
                    <td>{{ unidad.activo ? 'Activo' : 'Inactivo' }}</td>
    
                    <td>
                        <div class="flex justify-content-center">
                            <!-- Modificación en el botón "Editar" dentro de la tabla -->
                            <p-button label="Editar" icon="pi pi-pencil" styleClass="btn-edit"
                                (click)="editarUnidad(unidad)"></p-button>
    
                            <p-button label="Eliminar" icon="pi pi-trash" styleClass="btn-delete"
                                (click)="eliminarUnidad(unidad)"></p-button>
                        </div>
                    </td>
    
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    
    
    <!-- Después del formulario de creación, antes del formulario de actualización -->
    <p-dialog header="Editar Unidad de Medida" [(visible)]="mostrarModalEdicion" [breakpoints]="{ '960px': '95vw' }" [modal]="true" [position]="'top'"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <!-- Contenido del formulario de actualización -->
        <form (ngSubmit)="actualizarUnidad()" #categoriasForm="ngForm">
            <div class="inputgroup">
                
    
                <div class="card flex  flex-column ">
                    <p>Unidad de Medida</p>
                    <input pInputText type="text" placeholder="Ingrese el nombre" [(ngModel)]="edicionUnidad.nombre"
                        name="nombre" #nombreInput />
                </div>
                <div class="card flex  flex-column ">
                    <p>Abreviación</p>
                    <input pInputText type="text" placeholder="Ingrese abrevacion nombre" id="abreviacion"
                        [(ngModel)]="edicionUnidad.abreviacion" name="abreviacion" />
                </div>
                <div class="card flex  flex-column ">
                    <p>Valor</p>
                    <input pInputText type="number" placeholder="Ingrese abrevacion nombre" id="abreviacion"
                    [(ngModel)]="edicionUnidad.valor"
                    name="valor" required/>
                  
                </div>
                <!----------Checkbox------------>
                <div class="contd mt-3 flex align-items-center">
                    <p-inputSwitch [(ngModel)]="edicionUnidad.activo" name="activo" (ngModelChange)="onSwitchChange($event)"></p-inputSwitch>
                    <p class="ml-2 flex align-items-center">{{ edicionUnidad.activo ? 'Activado' : 'Desactivado' }}</p>
                </div>
                
                
    
                <!-- ... otros campos del formulario ... -->
                <div class="mt-3 flex justify-content-center headereditar">
                    <button type="submit" pButton pRipple label="Actualizar Categoría" class="p-button-success mb-2"
                        [disabled]="categoriasForm.invalid"></button>
                    <button type="button" pButton pRipple label="Cerrar" class="p-button-danger ml-1 mb-2"
                        (click)="mostrarModalEdicion = false"></button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>


    