

<div class="container" [class.active]="isMenuOpen">
  <div class="overlay" (click)="toggleMenu()"></div>

  <!-- Navbar -->
  <div class="navbar overflow-y-auto">
    <div class="menu" >
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Content -->
  <div class="flex flex-column w-full overflow-y-auto">
    <div class="menu-toggle-container">
      <div class="flex items-center w-full overflow-y-auto">
        <div class="menu-toggle-container">
          <div class="menu-toggle" (click)="toggleMenu()">
            <fa-icon [icon]="faBars" class="text-xl"></fa-icon>
          </div>
        </div>
        <div class="p-3 ml-auto">
          <i class="pi pi-spin pi-cog icon-config" style="font-size: 1.5rem"></i>
        </div>
      </div>
      
      
      
    </div>

    <!-- Contenido principal de la página -->
    <div class="content h-full overflow-y-auto mx-0">
      <div class="bg-white p-4 ">
        <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</div>
